{% extends 'base.html' %}

{% load humanize %}


{% block body %}
<style>
#map, body, html{
    height:100%;
}
.login {
    position: absolute;
    right: 0;
    z-index: 10;
    background: rgba(197, 197, 197, 0.77);
}
.form, .comments {
    position: absolute;
    top: 0;
    background: rgba(150, 150, 150, 0.78);
    height: 100%;
    width: 100%;
    padding: 20%;
}
.comments {
        background: white;
        padding:0;
}
#disqus_thread, .wrap {
        max-width:400px;
        margin:auto;
        margin-top:20px;
}
.wrap {
    text-align:right;
}
</style>

<div class='login'>
{% if user.is_authenticated %}
Logged as {{ user }}, <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
{% else %}
    <a href="{% url 'social:begin' "google-oauth2" %}?next=/">Login with Google</a>
{% endif %}
</div>

<div id='map'></div>

<script>
var map = L.map('map').setView([51.505, -0.09], 6);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

{% for pin in pins %}
L.circleMarker([{{pin.lat}}, {{pin.lng}}],{
        'stroke':0,
        'fillColor':'{{pin.category.color}}',
    }).addTo(map)
.bindPopup("{{pin.category.name}}</br>{{pin.text|escapejs}} - {{pin.created_on|naturaltime}}"
        +"<br/><a href='javascript:void(0)' onclick='$(\".comments\").fadeIn();'>Comments</a>"
    {% if pin.user == user %}
        +"<form method='post' action=''>"
        +"{% csrf_token %}"
        +"<input type='hidden' name='pin_id' value='{{ pin.pk }}'/>"
        +"<input type='submit' name='delete' value='Delete'>"
        +"</form>"
    {% endif %}
    );
{% endfor %}
</script>

<div class='comments' style='display:none'>
    <div class='wrap'>
        <input type='submit' value='back' onclick='$(".comments").fadeOut(); return false;' />
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'where-wolf'; // required: replace example with your forum shortname
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</div>

<div class='form' style='display:none'>
{% if user.is_authenticated %}
<form method='post' action='' id='marker-form'>
    {% csrf_token %}
    <p>
        <textarea name='text'></textarea>
    </p>
    <p>
        <select name='category'>
            {% for cat in categories %}
                <option value='{{ cat.pk }}'>{{ cat }}</option>
            {% endfor %}
        </select>
    </p>
    <input type='hidden' name='lat' value='0'/>
    <input type='hidden' name='lng' value='0'/>
    <input type='submit' value='Cancel' onclick='$(".form").fadeOut(); return false;' />
    <input type='submit' value='Add marker'/>
</form>
</div>

<script>
var form = $('.form');
var lat_input = $('input[name="lat"]');
var lng_input = $('input[name="lng"]');

form.hide();

var current_marker = null;

map.off('click');
map.on('click', function(e){
    if(current_marker != null){
        map.removeLayer(current_marker);
    }
    current_marker = L.marker(e.latlng);
    current_marker.addTo(map);
    lat_input.val(current_marker.getLatLng().lat);
    lng_input.val(current_marker.getLatLng().lng);
    form.fadeIn()
});

function showComments(id){
/*   $('.comments').html(""
 +'<div id="disqus_thread"></div>'
 +'<script type="text/javascript">'
 +"var disqus_shortname = 'where-wolf'; // required: replace example with your forum shortname"
 +"(function() {"
 +"           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;"
 +"           dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';"
 +"           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);"
 +"       })();</"+"script>");
*/
   $(".comments").fadeIn();
}

</script>
{% endif %}

{% endblock %}
