{% extends 'base.html' %}

{% load humanize %}


{% block body %}
<style>
body{
    width:400px;
    margin:auto;
    padding-top:100px;
}
#map{
    height:320px;
}
</style>

{% if user.is_authenticated %}
Logged as {{ user }}, <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
{% else %}
    <a href="{% url 'social:begin' "google-oauth2" %}?next=/">Login with Google</a>
{% endif %}

<div id='map'></div>

<script>
var map = L.map('map').setView([51.505, -0.09], 6);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

{% for pin in pins %}
L.circleMarker([{{pin.lat}}, {{pin.lng}}],{
        'stroke':0,
        'fillColor':'{{pin.category.color}}',
    }).addTo(map)
.bindPopup("{{pin.category.name}}</br>{{pin.text|escapejs}} - {{pin.created_on|naturaltime}}"
    {% if pin.user == user %}
        +"<form method='post' action=''>"
        +"{% csrf_token %}"
        +"<input type='hidden' name='pin_id' value='{{ pin.pk }}'/>"
        +"<input type='submit' name='delete' value='Delete'>"
        +"</form>"
    {% endif %}
    );
{% endfor %}
</script>

{% if user.is_authenticated %}
<form method='post' action='' id='marker-form'>
    {% csrf_token %}
    <p>
        <textarea name='text'></textarea>
    </p>
    <p>
        <select name='category'>
            {% for cat in categories %}
                <option value='{{ cat.pk }}'>{{ cat }}</option>
            {% endfor %}
        </select>
    </p>
    <input type='hidden' name='lat' value='0'/>
    <input type='hidden' name='lng' value='0'/>
    <input type='submit' value='Add marker'/>
</form>

<script>
var form = $('#marker-form');
var lat_input = $('input[name="lat"]');
var lng_input = $('input[name="lng"]');

form.hide();

var current_marker = null;

map.off('click');
map.on('click', function(e){
    if(current_marker != null){
        map.removeLayer(current_marker);
    }
    current_marker = L.marker(e.latlng);
    current_marker.addTo(map);
    lat_input.val(current_marker.getLatLng().lat);
    lng_input.val(current_marker.getLatLng().lng);
    form.show()
});

</script>
{% endif %}

{% endblock %}
